# Python and algorithms

##### Ð¡omplete this part of test without using any libs (your code must not contain keyword 'import')

#### 1. Implement function str_to_dict(some_str) which returnes dictionary, where keys are string characters, and values are their quantity in the string:

<div style="text-align: right">1 point</div>

In [143]:
def str_to_dict(some_str):
    dct = {}
    for c in some_str:
        dct[c] = some_str.count(c)
    return dct
    # YOUR CODE HERE

In [144]:
print('Str to dict:', str_to_dict('dataroot_university'))

Str to dict: {'d': 1, 'a': 2, 't': 3, 'r': 2, 'o': 2, '_': 1, 'u': 1, 'n': 1, 'i': 2, 'v': 1, 'e': 1, 's': 1, 'y': 1}

Expected Output: 
<table>
  <tr>
    <td>Str to dict:</td>
    <td> {'d': 1, 'a': 2, 't': 3, 'r': 2, 'o': 2, '_': 1, 'u': 1, 'n': 1, 'i': 2, 'v': 1, 'e': 1, 's': 1, 'y': 1} </td> 
  </tr>

#### 2. Implement function sec_smallest(numbers) which returns second smallest item in the list, without using the built-in sorting methods (your code mustn't contain such words as 'sort', 'sorted'):

<div style="text-align: right">1 point

In [8]:
def sec_smallest(numbers):
    min1 = numbers[0]
    for N in numbers:
        if min1 > N:
            min1 = N
            
    for N in numbers:
        if N > min1:
            min2 = N
        break
            
    for N in numbers:
        if (N > min1) and (N < min2):
            min2 = N
            
    return min2

In [9]:
print('Sec_smallest:', sec_smallest([1, 2, -8, -8, -2, 0]))

Sec_smallest: -2

Expected Output: 
<table>
  <tr>
    <td>Sec_smallest:</td>
    <td> -2 </td> 
  </tr>

#### 3. Implement function prime_nums(n) that returns list of numbers which  are simple and < n:

<div style="text-align: right">1 point</div>

In [23]:
def prime_nums(n):
    nums = list(range(2,n))
    for j in nums:
        for k in nums:
            if (k%j == 0) and (k != j):
                nums.remove(k)
    return nums

In [24]:
print('Prime numbers:', prime_nums(30))

Prime numbers: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Expected Output:
<table>
  <tr>
    <td>Prime numbers:</td>
    <td>[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]</td>
  </tr>

**4. Implement function max_sum_index(tuples), which returnes index of tuple in the list with maximum sum of elements:**

<div style="text-align: right">1 point</div>

In [33]:
def max_sum_index(tuples):  
    max_sum = sum(tuples[0])
    l = 0
    for t in tuples:
        if sum(t) > max_sum:
            max_sum = sum(t)
            l = tuples.index(t)
    return l

In [34]:
print(max_sum_index([(10, 20), (40, 32), (30, 25)]))

1

Expected Output: 
<table>
  <tr>
    <td>Index:</td>
    <td> 1 </td> 
  </tr>

**5. Implement function gcd(x, y), which returns the greatest common divisor of n and m.**
<div style="text-align: right">1 point</div>

In [36]:
def gcd(x, y):   
    while x != 0 and y != 0:
        if x > y:
            x = x % y
        else:
            y = y % x
    return x + y

In [37]:
print(gcd(160, 180))

20

Expected Output: 
<table>
  <tr>
    <td>GCD:</td>
    <td> 20 </td> 
  </tr>

#### 6. Implement recursive sum of the list:
<div style="text-align: right">1 point</div>

In [79]:
def recursive_list_sum(data_list):
    sum = 0
    for elem in data_list:
        if type(elem) in [int,float]:
            sum += elem
        else:
            sum += recursive_list_sum(elem)
    return sum

In [82]:
print('The sum of a list is ', recursive_list_sum([1, 2, [3,4],[5,6], [7, 8, 9]]))

The sum of a list is  45

Expected Output:
<table>
  <tr>
    <td>The sum of a list is 45</td> 
  </tr>

#### 7. Implement decorator which returns function signature and it's return value:
<div style="text-align: right">1 point</div>

In [157]:
def debug(func):
    def inner(a,b):
        return "%s(%d, %d) was called and returned %d" % (func.__name__,a, b, func(a,b))
    return inner

In [158]:
@debug
def add(a, b):
    return a + b

add(3, 4)

'add(3, 4) was called and returned 7'

Expected Output:
<table>
  <tr>
    <td>'add(3, 4) was called and returned 7'</td>
  </tr>

#### 8. Implement class Conv, that contains method to_roman(self, n), which converts decimal numbers to Roman numerals:

<div style="text-align: right">2 points</div>

In [20]:
class Conv:
    def __init__(self):
        self.val = [
            1000, 900, 500, 400,
            100, 90, 50, 40,
            10, 9, 5, 4, 1
        ]

        self.syb = [
            'M', 'CM', 'D', 'CD',
            'C', 'XC', 'L', 'XL',
            'X', 'IX', 'V', 'IV',
            'I'
        ]
        
    def to_roman(self, num):    
        c  = ''
        for i in self.val:
            ind = self.val.index(i)
            while num >= i:
                num -= i
                c+=self.syb[ind]
        return c       
        # YOUR CODE HERE

In [21]:
print('Converted:', Conv().to_roman(44))

Converted: XLIV

Expected Output:
<table>
  <tr>
    <td>Converted:</td>
    <td>XLIV</td> 
  </tr>

#### 9. Implement class CombinationsList, that contains method get_combinations(self, my_list), which returns all combinations of elements of given list, including empty element and in order, law of which can be discrovered from the expected output:
<div style="text-align: right">3 points</div>

In [130]:
class CombinationsList:
    @staticmethod
    def get_combinations(my_list):

        def index_combinations(n, list, combos=[]):
            # initialize combos during the first pass through
            if combos is None:
                combos = []
        
            if len(list) == n:
                if combos.count(list) == 0:
                    combos.append(list)
                    combos.sort()
                return combos
            else:
                for i in range(len(list)):
                    refined_list = list[:i] + list[i+1:]
                    combos = index_combinations(n, refined_list, combos)
                return combos
        index_combinations(2, [0,1,2,3,4,5])
        
        ind_list = list(range(len(my_list)))
        ind_comb = []
        
        for i in range(len(ind_list)+1):
            for lst in index_combinations(i, ind_list, combos=[]):
                trans_list = []
                if len(lst)> 0:
                    for ind in lst:
                        trans_list.append(my_list[ind])
                ind_comb.append(trans_list)
  
        return ind_comb

In [131]:
print('Combinations:', CombinationsList().get_combinations([1, 2, 'a']))

Combinations: [[], [1], [2], ['a'], [1, 2], [1, 'a'], [2, 'a'], [1, 2, 'a']]

Expected Output:
<table>
  <tr>
    <td>Combinations:</td>
    <td>[[], [1], [2], ['a'], [1, 2], [1, 'a'], [2, 'a'], [1, 2, 'a']]</td> 
  </tr>

#### 10. Create base class <code>Rocket</code> and it's subclass <code>Shuttle</code>. The parent class contains methods <code>getMission()</code>, <code>addMission()</code> and <code>getName()</code>. The subclass <code>Shuttle</code> contains method <code>getDescription()</code>. Notice that we have not defined <code>getName()</code>, <code>getMission()</code>, <code>addMission()</code> in the <code>Shuttle</code> class but we are still able to access them, because the class <code>Shuttle</code> inherits them from the <code>Rocket</code> class. Use <code>super()</code> method to have ability to call those methods of the base class.
<div style="text-align: right">3 points</div>

In [153]:
class Rocket:

    def __init__(self, name, mission):
        """
        :param name: str
        :param mission: str or list
        """
        # attributes are private to class Rocket
        self.__name = name      
        self.__mission = mission

    def getMission(self): 
        """
        : return str or list
        """
        return self.__mission

    def addMission(self, mission): 
        # procedure method which adds a new mission. There can be one (str) or multiple (list) existing missions
        """
        : param mission: str
        """
        
        if type(self.__mission) == 'list':
            self.__mission.append(mission)
        else:
            self.__mission = [self.__mission, mission]

    def getName(self):
        """
        : return str
        """
        return self.__name

    
class Shuttle(Rocket):

    def __init__(self, name, mission, model):
        # call parent constructor to set name and mission  
        """
        :param name: str
        :param mission: str or list
        : param model: str
        """
        super().__init__(name, mission)
        self.__model = model

    def getDescription(self):
        return 'Name: {0}\nModel: {1}\nMissions: {2}'.format(self.getName(), self.__model, str(self.getMission()))

In [154]:
dragon = Shuttle("Crew Dragon", "Dragon 2 pad abort test", "V2")
print(dragon.getDescription(), '\n')
dragon.addMission('Dragon 2 in-flight abort test')
print(dragon.getDescription())

Name: Crew Dragon
Model: V2
Missions: Dragon 2 pad abort test

Name: Crew Dragon
Model: V2
Missions: ['Dragon 2 pad abort test', 'Dragon 2 in-flight abort test']

Expected Output: 

                Name: Crew Dragon
                Model: V2
                Missions: Dragon 2 pad abort test
                
                Name: Crew Dragon
                Model: V2
                Missions: ['Dragon 2 pad abort test', 'Dragon 2 in-flight abort test']